* {
  margin: 0;
  padding: 0;

}

html {
  background-color: antiquewhite;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
}

.score {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin: 2rem 0;
}

/* 전체 박스*/
.playground>ul {
  /* border: 1px solid #242424; */
  width: 300px;
  margin: 0 auto;
  /* 가운데로*/
}

.playground>ul>li {
  width: 100%;
  height: 30px;
}

/* 작은 매트릭스들 */
.playground>ul>li>ul {
  display: flex;
}

.playground>ul>li>ul>li {
  width: 30px;
  height: 30px;
  outline: 1px dotted #d6d6d6;
}

.tree {
  background-color: rgb(255, 255, 0);
}

.bar {
  background-color: rgb(254, 139, 254);
}

.zee {
  background-color: rgb(255, 115, 115);
}

.nemo {
  background-color: deepskyblue;
}

.elLeft {
  background-color: rgb(192, 144, 238);
}

.elRight {
  background-color: rgb(19, 214, 175);
}

.game-text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 36px;
}

.game-text>button {
  padding: 0.5rem 1rem;
  margin: 2rem 0.5rem;
  color: #fff;
  background-color: rgb(127, 84, 255);
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 15px;
}

.game-start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 36px;
}

.game-start>button {
  position: absolute;
  left: 50%;
  padding: 0.5rem 1rem;
  margin: 2rem 0.5rem;
  color: #fff;
  background-color: rgb(127, 84, 255);
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}